@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Form";


}

@model FormModel;

<article class="text-center">

    <!-- Grade Calculation Form -->
    <div style="text-align: center;">
        <section class="h-100 h-custom" style="background-color: #fff; padding-bottom: 0px;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-8 col-xl-6">
                        <div class="card rounded-3">
                            <div class="card-body p-4 p-md-5">
                                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Find Grades</h3>
                                <form method="post">
                                    <div class="form-outline mb-4">
                                        <input id="assignment" asp-for="assignment" type="text" class="form-control" />
                                        <label for="assignment" class="form-label">Assignments</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="gproject" asp-for="gproject" type="text" class="form-control" />
                                        <label for="gproject" class="form-label">Group Project</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="quizzes" asp-for="quizzes" type="text" class="form-control" />
                                        <label for="quizzes" class="form-label">Quizzes</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="midterm" asp-for="midterm" type="text" class="form-control" />
                                        <label for="midterm" class="form-label">Midterm Exam</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="final" asp-for="final" type="text" class="form-control" />
                                        <label for="final" class="form-label">Final Exam</label>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input id="intex" asp-for="intex" type="text" class="form-control" />
                                        <label for="intex" class="form-label">INTEX</label>
                                    </div>

                                    <button id="buttomSub" type="submit" class="btn btn-lg mb-1">Submit</button>
                                </form>

                                <div asp-validation-summary="All"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Displays the calculated grade and numeric grade -->
    <p id="results" style="padding-bottom:50px"></p>
</article>

