@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
    <!-- Header with preferred name -->
    <header id="header" class="container" style="margin-top: 50px">
        <h1>Joshua Allen</h1>
    </header>

    <article class="container text-center">
        <h2>Welcome to My Page</h2>
        <!-- Picture of my Wife and I at a football game -->
        <img src="img/A0C80C28-78E8-4918-A49B-51DC7733DEF7.jpg" width="400" />

        <!-- Paragraph of my expectations -->
        <p>
            What I Hope to Learn: I want to learn how to create dynamic sites that can display information as well as have connections with database and
            other integrations. I also hope that we can use the differnt skills we are learning in the other classes, and see how we might be able to put them
            into the things we learn here in 413. Last of all, I wish would could learn how to use some of these different skills in other applications like
            wordpress, or other CMS sites.
        </p>

        <!-- Jobs I'm interested In'-->
        <h3>Top Three Jobs</h3>
        <ul>
            <li>Product Manager</li>
            <li>Software Engineer</li>
            <li>Data Analyst</li>
        </ul>
    </article>


    <script src="js/JavaScript.js"></script>
